.main-body {
  box-sizing: border-box;
  padding-left: 44px;
}
.blacklist-items {
  min-height: 160px;
}
.detiles-info {
  margin-left: 40px;
}
.detiles-info .detiles-info-items {
  width: 49%;
  float: left;
  padding-bottom: 30px;
}
.detiles-info .detiles-info-items b {
  display: inline-block;
  width: 120px;
  padding-right: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #577399;
}
.detiles-info .detiles-info-items b.notop {
  position: relative;
  top: -45px;
}
.detiles-info .detiles-info-items span {
  display: inline-block;
  width: 200px;
}
.suggestsConBox {
  margin-bottom: 40px;
}
.suggestsConBox h4 {
  margin-bottom: 12px;
}
.suggestsConBox h4 .tuijianCata,
.suggestsConBox h4 .inputsCata {
  color: #467acc;
  margin-left: 30px;
  cursor: pointer;
}
.history .suggestsCon {
  border: 1px solid  #fad2cc;
  background: #fffcfc;
}
.suggestsCon {
  border: 1px solid  #b3daf9;
  border-radius: 5px;
  background: #f8fcff;
}
.suggestsCon .suggestsConItem > div {
  padding: 20px 25px 10px;
}
.suggestsCon .fertilizer {
  color: #57aaee;
  width: 10%;
}
.suggestsCon .pesticide {
  color: #ff5e45;
  width: 10%;
}
.suggestsCon .suggestsList {
  width: 90%;
}
.suggestsCon .suggestsList .listItem {
  width: 20%;
}
.suggestsCon .suggestsList .listItem div {
  margin-bottom: 24px;
}
.suggestsCon .suggestsList .listItem.w60per {
  width: 60%;
}
.suggestsCon .guideBtn,
.suggestsCon .editBtn {
  cursor: pointer;
  width: 94px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #60a4ff;
  right: 8%;
  top: 60px;
  background: #f8fcff;
  border: 1px solid #3b94ff;
  border-radius: 5px;
}
.suggestsCon .form-item {
  display: none;
  padding: 10px 35px 0;
  margin-bottom: 0;
}
.suggestsCon .form-item ul {
  margin-bottom: 20px;
}
.suggestsCon .form-item ul li .start {
  width: 87%;
  position: relative;
}
.suggestsCon .save-cancel {
  margin-bottom: 20px;
  text-align: center;
}
.suggestsCon .save-cancel span {
  display: inline-block;
}
.guidance {
  padding-top: 30px !important;
  color: #ff6f59;
  border-top: 1px solid  #fad2cc;
  border-bottom: 1px solid  #fad2cc;
}
.guidance > span {
  width: 10%;
}
.tabNav {
  border: 1px solid #b3daf9;
  margin-bottom: 14px;
}
.tabNav .tabNavItem {
  background: #f8fcff;
  width: 25%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #666;
  cursor: pointer;
}
.tabNav .tabNavItem.active {
  color: #fff;
  background: -webkit-linear-gradient(to bottom, #499efd, #2476d6);
  background: -moz-linear-gradient(to bottom, #499efd, #2476d6);
  background: -ms-linear-gradient(to bottom, #499efd, #2476d6);
  background: linear-gradient(to bottom, #499efd, #2476d6);
}
