.main-body {
  box-sizing: border-box;
  padding-left: 44px;
}
.blacklist-items {
  min-height: 160px;
}
.detiles-info {
  margin-left: 40px;
}
.detiles-info .detiles-info-items {
  width: 49%;
  float: left;
  padding-bottom: 30px;
}
.detiles-info .detiles-info-items b {
  display: inline-block;
  width: 120px;
  padding-right: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #577399;
}
.detiles-info .detiles-info-items b.notop {
  position: relative;
  top: -45px;
}
.detiles-info .detiles-info-items span {
  display: inline-block;
  width: 200px;
}
