body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "微软雅黑";
}
p {
  margin-left: 5px;
  font-size: 14px;
}
@keyframes myfirst {
  from {
    transform: scale(0.5, 0.5);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes myfirst {
  /* Safari 和 Chrome */
  from {
    transform: scale(0.5, 0.5);
  }
  to {
    transform: scale(1, 1);
  }
}
img[src='img/warning.png'] {
  box-shadow: 0 0 10px red;
  display: block;
  border-radius: 50%;
  animation: myfirst .5s alternate infinite;
  -webkit-animation: myfirst .5s alternate infinite;
  margin-left: 12px !important;
  margin-top: 12px !important;
}
.BMap_pop {
  box-sizing: content-box;
  position: absolute;
  cursor: default;
  /* display: none; */
  width: auto!important;
  height: 60px;
  background: transparent;
}
.BMap_shadow {
  display: none;
}
.BMap_pop > div {
  display: none;
}
.BMap_pop > img {
  display: none!important;
}
.BMap_pop > div:nth-child(9) {
  display: block;
  width: auto!important;
  padding: 10px 30px;
  height: 60px!important;
  background: url(../../img/text-bg.png) no-repeat center;
  background-size: 100% 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  top: 60px!important;
  left: 55px!important;
  border-radius: 10px;
}
.BMap_bubble_content > div {
  border-radius: 10px;
  font-size: 16px;
  white-space: nowrap;
}
.anchorBL {
  display: none;
}
