<div class="header">
    <div class="header-box cf"><a class="header-left" href=""><i class="logo"></i><span>农产品追溯监管与服务系统</span><b>政府端</b></a>
        <div class="header-right">
            <div class="user-info"><i class="user-logo"></i><span class="user-name">政府001</span></div>
            <div class="person-set"><i class="person-set-logo"></i><a class="person-set-tit" href="../../forgotPassword.html">修改密码</a></div><a class="exit" href="../../login.html"><i class="person-set-logo"></i><span class="person-set-tit">退出            </span></a></div>
    </div>
</div>