<div class="leftbar border borderRad leftbar7">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../inputUseStatistics/inputUseStatistics.html"><i class="leftbar7-icon1"></i><span>投入品使用统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../governmentStatistics/governmentStatistics.html"><i class="leftbar7-icon2"></i><span>政府抽检统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../unqualifiedStatistics/unqualifiedStatistics.html"><i class="leftbar7-icon3"></i><span>不合格检测统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../productionPlanningStatistics/productionPlanningStatistics.html"><i class="leftbar7-icon4"></i><span>生产计划统计</span></a></li>
    </ul>
</div>