<div class="leftbar leftbar4">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../companyOwnCheck/companyOwnCheck.html"><i class="icon1"></i><span>企业自检监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../governmentSamplingInspection/governmentSamplingInspection.html"><i class="icon2"></i><span>政府抽检监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../thirdPartyInspection/thirdPartyInspection.html"><i class="icon3"></i><span>第三方检测监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../authentication/productCertification.html"><i class="icon7"></i><span>三品一标认证</span></a>
            <ul class="itemlist">
                <li><a href="../authentication/productCertification.html">产品认证情况一览</a></li>
                <li><a href="../authentication/safeFood.html">无公害农产品认证</a></li>
                <li><a href="../authentication/greenFood.html">绿色食品认证</a></li>
                <li><a href="../authentication/organicFood.html">有机产品认证</a></li>
                <li><a href="../authentication/geographicalIndication.html">农产品地理标识认证</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="../registrationManagement/registrationManagement.html"><i class="icon4"></i><span>农残检测登记管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../reportManagement/reportManagement.html"><i class="icon5"></i><span>农残检测上报管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../inspectionBatchWarning/inspectionBatchWarning.html"><i class="icon6"></i><span>检测检验批次预警</span></a></li>
    </ul>
</div>