<div class="leftbar leftbar6">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../notice/notice.html"><i class="icon1"></i><span>通知公告</span></a></li>
        <li class="item"><a class="itemTitle" href="../organization/organization.html"><i class="icon2"></i><span>组织机构</span></a></li>
        <li class="item"><a class="itemTitle" href="../users/usersManagement.html"><i class="icon3"></i><span>用户管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../role/role-index.html"><i class="icon4"></i><span>角色权限</span></a></li>
        <li class="item"><a class="itemTitle" href="../logManagement/loginLog.html"><i class="icon5"></i><span>日志管理</span></a>
            <ul class="itemlist">
                <li><a href="./loginLog.html">登录日志</a></li>
                <li><a href="./operationlog.html">操作日志</a></li>
            </ul>
        </li>
    </ul>
</div>