<div class="leftbar leftbar1">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../productionPlanManagement/maintain.html"><i class="icon1"></i><span>生产计划管理</span></a>
            <ul class="itemlist">
                <li><a href="../productionPlanManagement/maintain.html">生产计划维护</a></li>
                <li><a href="../productionPlanManagement/history.html">生产计划历史</a></li>
                <li><a href="#">生产计划日历</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="../farmOperationManagement/farmOperationManagement.html"><i class="icon2"></i><span>农事活动管理</span></a></li>
        <li class="item"><a class="itemTitle" href="#"><i class="icon3"></i><span>物联网</span></a>
            <ul class="itemlist">
                <li><a href="">设备管理</a></li>
                <li><a href="#">实时监控</a></li>
                <li><a href="#">视频管理</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="../harvestRecord/harvestRecord.html"><i class="icon4"></i><span>采收记录</span></a></li>
        <li class="item"><a class="itemTitle" href="../packagingManagement/packagingManagement.html"><i class="icon6"></i><span>包装管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../sourceCode/sourceCode.html"><i class="icon7"></i><span>生产溯源码</span></a></li>
        <li class="item"><a class="itemTitle" href="../inventoryCManagement/warehousingManagement.html"><i class="icon8"></i><span>库存管理</span></a>
            <ul class="itemlist">
                <li><a href="../inventoryCManagement/warehousingManagement.html">入库管理</a></li>
                <li><a href="../inventoryCManagement/warehouseInfo.html">仓库信息</a></li>
                <li><a href="../inventoryCManagement/inventoryManagement.html">盘库管理</a></li>
            </ul>
        </li>
    </ul>
</div>