<div class="leftbar border borderRad">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../enterprise/enterprise-info-base.html"><i class="icon1"></i><span>企业信息</span></a></li>
        <li class="item"><a class="itemTitle" href="../organization/organization.html"><i class="icon2"></i><span>组织机构</span></a></li>
        <li class="item"><a class="itemTitle" href="../users/usersManagement.html"><i class="icon3"></i><span>用户管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../role/role-index.html"><i class="icon4"></i><span>角色管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../origin/originInfoManagement.html"><i class="icon5"></i><span>产地管理</span></a>
            <ul class="itemlist">
                <li><a href="../origin/originInfoManagement.html">产地信息管理</a></li>
                <li><a href="../origin/originArea-authentic.html">产地认定管理</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="../productManagement/productInfoManagement.html"><i class="icon6"></i><span>产品管理</span></a>
            <ul class="itemlist">
                <li><a href="../productManagement/productInfoManagement.html">产品信息管理</a></li>
                <li><a href="../product/breedPeriod-index.html">生育期管理</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="#"><i class="icon7"></i><span>投入品管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../packing/packingIndex.html"><i class="icon8"></i><span>包装规格</span></a></li>
        <li class="item"><a class="itemTitle" href="#"><i class="icon9"></i><span>日志管理</span></a></li>
    </ul>
</div>