<div class="leftbar border borderRad leftbar3">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../plantingEnterprise/plantingEnterprise.html"><i class="leftbar3-icon1"></i><span>企业监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../productionSupervision/originSupervision.html"><i class="leftbar3-icon2"></i><span>产地监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../warehouseSupervision/warehouseSupervision.html"><i class="leftbar3-icon3"></i><span>仓储监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../item/chemicalFertilizerDisable.html"><i class="leftbar3-icon4"></i><span>投入品禁限目录</span></a>
            <ul class="itemlist">
                <li><a href="../item/chemicalFertilizerDisable.html">投入品禁用</a></li>
                <li><a href="../item/fertilizerUseLimited.html">投入品限用</a></li>
                <li><a href="../item/recommendedBoth.html">三品推荐与不推荐目录</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="../processingSupervision/warehouseSupervision.html"><i class="leftbar3-icon5"></i><span>投入品使用指导</span></a></li>
        <li class="item"><a class="itemTitle" href="../circulationSupervision/logisticsTransportSupervision.html"><i class="leftbar3-icon6"></i><span>物流运输监管</span></a></li>
        <li class="item"><a class="itemTitle" href="../salesSupervision/salesSupervision.html"><i class="leftbar3-icon7"></i><span>销售监管</span></a></li>
    </ul>
</div>