<div class="leftbar leftbar5">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="blacklist.html"><i class="icon1"></i><span>企业黑名单</span></a></li>
        <li class="item"><a class="itemTitle" href="CorporateIntegrityRecord.html"><i class="icon2"></i><span>企业诚信记录</span></a></li>
        <li class="item"><a class="itemTitle" href="consumersComplainNetwork.html"><i class="icon3"></i><span>消费者投诉举报</span></a></li>
        <li class="item"><a class="itemTitle" href="recallRegulation.html"><i class="icon5"></i><span>召回监管</span></a></li>
    </ul>
</div>