<div class="leftbar border borderRad leftbar2">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="../plantingEnterprise/plantingEnterprise.html"><i class="leftbar2-icon1"></i><span>投入品使用统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../processingEnterprise/processingEnterprise.html"><i class="leftbar2-icon2"></i><span>政府抽检统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../wholesaleMarket/wholesaleMarket.html"><i class="leftbar2-icon3"></i><span>不合格农残检测统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../salesEnterprise/salesEnterprise.html"><i class="leftbar2-icon4"></i><span>生产计划统计</span></a></li>
        <li class="item"><a class="itemTitle" href="../businessEnterprise/businessEnterprise.html"><i class="leftbar2-icon5"></i><span>电商企业</span></a></li>
    </ul>
</div>