<div class="navbar">
    <ul class="navbar-list cf">
        <li class="first"><a href="../../index/index/dataStatistics.html"><i class="produce-manage"></i><span>首页</span></a></li>
        <!--li-->
        <!--    a(href='../../retrospectiveSubject/plantingEnterprise/plantingEnterprise.html')-->
        <!--        i.package-manage-->
        <!--        span 追溯主体-->
        <li><a href="../../industrialChainSupervision/plantingEnterprise/plantingEnterprise.html"><i class="ciculate-manage"></i><span>追溯监管</span></a></li>
        <li><a href="../../qualitySafetyInspectionSupervision/companyOwnCheck/companyOwnCheck.html"><i class="sell-manage"></i><span>质量安全检测</span></a></li>
        <li><a href="../../government/item/blacklist.html"><i class="quality-manage"></i><span>政府监督</span></a></li>
        <li><a href="../../dataStatistics/inputUseStatistics/inputUseStatistics.html"><i class="data-statistics"></i><span>数据统计</span></a></li>
        <li><a href="../../systemManagement/notice/notice.html"><i class="system-manage"></i><span>系统管理</span></a></li>
    </ul>
</div>
<div class="poster">
    <div class="poster-box">
        <div class="poster-item"><i class="poster-icon"></i><span class="poster-text">通知：近日，农业部办公厅、财政部国家农业综合开发办公室联合发布了《关于推进农业全产业链开发创新示范工作的通知》。</span></div>
        <div class="poster-item"><i class="poster-icon"></i><span class="poster-text">通知：近日，农业部办公厅、财政部国家农业综合开发办公室联合发布了《关于推进农业全产业链开发创新示范工作的通知》。</span></div>
    </div>
</div>