<div class="leftbar leftbar4">
    <ul class="list">
        <li class="item"><a class="itemTitle" href="#"><i class="icon1"></i><span>采购管理</span></a></li>
        <li class="item"><a class="itemTitle" href="#"><i class="icon2"></i><span>库存管理</span></a>
            <ul class="itemlist">
                <li><a href="#">产品入库管理</a></li>
                <li><a href="#">仓库信息</a></li>
                <li><a href="#">盘库管理</a></li>
            </ul>
        </li>
        <li class="item"><a class="itemTitle" href="#"><i class="icon3"></i><span>销售管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../customer/customerManagement.html"><i class="icon4"></i><span>客户管理</span></a></li>
        <li class="item"><a class="itemTitle" href="../supplier/supplierManagement.html"><i class="icon5"></i><span>供应商管理</span></a></li>
    </ul>
</div>