span.marL12 {
  margin-left: 12px;
}
.sel-area {
  font-size: 14px;
  padding: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
  color: #4b715d;
}
.sel-area .sel-left {
  margin-right: 120px;
}
.sel-area .sel-left input {
  width: 453px;
  height: 32px;
  border: 1px solid #B1DAFA;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  margin: 0 4px;
  background: #f8fcff;
}
.sel-area .btn-area {
  text-align: center;
}
.sel-area .btn-area div {
  padding: 7px 0px;
  margin-right: 10px;
  display: inline-block;
  width: 96px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.sel-area .btn-area div.search {
  background: #ff9b14;
  background: linear-gradient(to right bottom, #fcc322, #ffb119, #ff9b14);
  border: 1px solid #ff9601;
}
.sel-area .btn-area div.search:hover {
  color: #eee;
}
.sel-area .btn-area div.search i {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 10px;
  background: url(../../../img/search.png) no-repeat;
}
.sel-area .btn-area div.add {
  background: #227cdb;
  background: linear-gradient(to right bottom, #3abefc, #3ca2ec, #227cdb);
  border: 1px solid #3b94ff;
}
.sel-area .btn-area div.add:hover {
  color: #eee;
}
.layui-layer-btn .layui-layer-btn0,
.layui-layer-btn .layui-layer-btn1 {
  border-radius: 4px;
}
.con-bottom .iconfont {
  color: #86aedc;
}
.con-bottom .iconfont:hover {
  color: #fe8b3d;
}
